body{
    background-color: purple;
}

.volver1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin: 20px;
  }
  .volver{
    background-color: rgba(241, 44, 44, 0.6);
    border: 2px solid rgba(0, 0, 0, 0.326);
    border-radius: 20px;
    display:inline-block;
    min-width: 150px;
    color: white;
    text-align: center;
    padding: 10px;
    margin: 10px;
    text-decoration: none;
  }
  .volver1 a:hover{
    background-color: rgb(73, 155, 98);
  }

h1,p {
    padding: 40px;
    color: #f2f2f2;
    text-align: center;
}
@media (max-width: 1000px) {
    body{
        background-color: rgb(0, 0, 0);
    }
}

@media (max-width: 800px){
    body{
        background-color: rgb(150, 52, 52);
    }
}