* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .volver1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin: 20px;
  }
  .volver{
    background-color: rgba(241, 44, 44, 0.6);
    border: 2px solid rgba(0, 0, 0, 0.326);
    border-radius: 20px;
    display:inline-block;
    min-width: 150px;
    color: white;
    text-align: center;
    padding: 10px;
    margin: 10px;
    text-decoration: none;
  }
  .volver1 a:hover{
    background-color: rgb(73, 155, 98);
  }

  .container{
    position: relative;
    width: 480px;
    height: 530px;
    margin: 20px auto;
    border: 5px solid crimson;
     
  }
  
  .box{
    width: 100px;
    height: 100px;
    background-color: steelblue;
    margin-top: 20px;
    margin-left: 20px;
    text-align: center;
    color: white;
    line-height: 90px;
    border: 1px solid black;
  }
  
  .relative {
    top: 0px;
    position: relative;
    left: 20px;
  }
  
  .absolute {
    /* position: absolute; */
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
  }
  
  .fixed{
    /* position: fixed; */
    top: 0;
    margin: 0;
    padding: 0;
  }